.actions{
  margin-top:10px;
  display:flex;
  gap: 10px;
}
.question{
  font-size: 14px;
  line-height: 20px;
  color: black;
}
.answer{
  font-size: 14px;
  line-height: 20px;
  color: forestgreen;
 }
