<div class="container-sm">
  <h3 class="mb-5">Welcome to our support management</h3>
  <button *ngIf="selectedQuestion" (click)="clearInputs()" class="btn btn-sm btn-secondary">Clear inputs </button>

  <div class="row mb-5">
    <div class="col-12">
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">Question</label>
          <input *ngIf="!selectedQuestion" type="text" class="form-control" [(ngModel)]="newQuestion.question"
                 name="title" required>
          <input *ngIf="selectedQuestion" type="text" class="form-control" [(ngModel)]="selectedQuestion.question"
                 name="title" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Answer</label>
          <textarea *ngIf="!selectedQuestion"
                    class="form-control" [(ngModel)]="newQuestion.answer" name="answer" rows="3" required></textarea>
          <textarea *ngIf="selectedQuestion" class="form-control" [(ngModel)]="selectedQuestion.answer" name="answer"
                    rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">{{selectedQuestion ? 'Update' : 'Save' }}</button>
      </form>
    </div>
  </div>

  <hr>

  <div class="row mb-5">
    <div class="col-12">
      <ul class="list-group" *ngIf="questions.length">
        <li *ngFor="let question of questions" class="list-group-item">
          <div  class="question" (click)="toggleAnswerVisibility(question)">
            {{ question.question }}
          </div>
          <div *ngIf="question.showAnswer" class="mt-2">
            <div class="answer">
              {{ question.answer}}
            </div>
            <div class="actions">
              <button (click)="selectQuestion(question)" class="btn btn-sm btn-secondary">Edit</button>
              <button (click)="deleteQuestion(question.id)" [disabled]="selectedQuestion?.id == question.id"  class="btn btn-sm btn-danger">Delete</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
